<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учет ВТ</title>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-5.3.0/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-icons-1.10.5/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav th:replace="~{fragments/sidebar-fragment.html::sidebar('/info')}" ></nav>
<main id="content-main">
    <div class="container-fluid">
        <div th:replace="~{fragments/header-title-fragment.html::header-title('Информация')}">
        </div>
    <div class="card default-shadow mt-4">
        <div class="card-header">
            Обновления
        </div>
        <div class="card-body">
            <div class="alert alert-info">
                <h5>v.2.2.2</h5>
                <ol>
                    <li>Страница устройств</li>
                    <ol>
                        <li>Добавлена история каждого устройства в отдельности</li>
                    </ol>
                    <li>Мелкие визуальные изменения</li>
                </ol>
            </div>
            <div class="alert alert-secondary">
                <h5>v.2.1.2</h5>
                <ol>
                    <li>Срочное исправление критической ошибки. При сохранении вы получали ошибку сервера 500,
                        если устройство уже находилось в базе данных.</li>
                </ol>
            </div>
            <div class="alert alert-secondary">
                <h5>v.2.1.1</h5>
                <ol>
                    <li>Теперь при раскрытии выпадающих списков с поиском, на страницах
                        устройства и добавление нового устройства, курсор в поле поиска ставится автоматически.</li>
                    <li>Производители отсортированы по алфавиту</li>
                    <li>Исправлена ошибка. У пользователей отображались пустая вкладка "Устройства"
                        и заблокированная вкладка "Расходники" на странице "Настройки". Функционал вкладок только для администраторов.</li>
                </ol>
            </div>
            <div class="alert alert-secondary">
                <h5>v.2.1.0</h5>
                <ol>
                    <li>Теперь администраторы могут просмотреть историю пользователей прямо в программе (пока без поиска)</li>
                    <li>На странице всех устройств теперь в таблице можно посмотреть кто эксплуатирует устройство</li>
                    <li>Страница устройства</li>
                    <ol>
                        <li>
                            Добавлено новое поле "Дата списания". Данное поле будет доступно при выборе статус
                            "Утилизировано" при добавлении\изменении устройства.
                        </li>
<!--                        <li>Появилась история каждого устройства</li>-->
<!--                        <li>Вернулась улучшенная версия технических характеристик устройств</li>-->
                        <li>
                            Исправлена ошибка, когда пользователя удаляли из телефонного
                            справочника. Вы могли не попасть на страницу устройства,
                            которую данный пользователь эксплуатировал и получить ошибку 500.
                            Теперь вы будете получать информацию о том кто его эксплуатировал ранее, а поля будут отчищены
                        </li>
                        <li>
                            Исправлена ошибка. Программа не проверяла устройство на существование при изменении устройства.
                        </li>
                    </ol>
                    <li>Страница настроек</li>
                    <ol>
                        <li>Разблокирована вкладка "Устройства"</li>
                        <li>Теперь администраторы могу добавлять новые типы устройства прямо в программе (Принтеры, МФУ...)</li>
                        <li>Теперь администраторы могу добавлять новых производителей прямо в программе (Canon, LG...)</li>
                    </ol>
                    <li>Другое</li>
                    <ol>
                        <li>Переход к Spring AOP (для знающих)</li>
                        <li>Исправлены текстовые ошибки</li>
                        <li>Мелкие визуальные исправления</li>
                    </ol>
                </ol>
            </div>
            <div class="alert alert-secondary">
                <h5>v.2.0.2</h5>
                <ol>
                    <li>Исправлена ошибка при выгрузке в Excel</li>
                    <ol>
                        <li>Была исправлена ошибка выгрузки в Excel, когда инвентарный номер заменялся 0 после 15-ого знака</li>
                    </ol>
                </ol>
            </div>
            <div class="alert alert-secondary">
                <h5>v.2.0.1</h5>
                <ol>
                    <li>Страница устройства</li>
                    <ol>
                        <li>Добавлена кнопка назад, которая вернет на страницу всех устройств</li>
                        <li>Кнопка удалить теперь выведет предупреждение об удалении</li>
                    </ol>
                </ol>
            </div>
            <div class="alert alert-secondary">
                <h5>v.2.0.0</h5>
                <ol>
                    <li>Обновлено:</li>
                    <ol>
                        <li>Полностью переработан внешний вид</li>
                        <li>Улучшено взаимодействие с программой с учетом рекомендаций пользователей</li>
                        <li>Авторизация:</li>
                        <ol>
                            <li>Логины при входе в программу теперь можно не запоминать, а искать и выбирать их.</li>
                            <li>Логином будет являться имя доменной учетной записи</li>
                            <li>Cессия в программе будет длиннее. (Реже теперь будет необходимо вводить логин и пароль)</li>
                        </ol>
                        <li>Главная страница:</li>
                        <ol>
                            <li>Cтраница более не является функциональной, теперь она информационная.</li>
                            <li>Теперь на главной странице указана небольшая информация о сотруднике</li>
                        </ol>
                        <li>Взаимодействие с устройствами:</li>
                        <ol>
                            <li>Добавлена сортировка для каждого столбца таблиц</li>
                            <li>Поиск теперь работает по всем параметрам таблиц (с помощью него можно теперь сортировать данные и выгружать их в Excel)</li>
                            <li>Теперь производители устройств будут едины. Их придется выбирать, а не писать самостоятельно (Не будет того, что кто-то написал Aquarius, а кто-то AQUARIUS ну и самое забавное Aguarius)</li>
                            <li>Cтатусы переработаны. Теперь в программе имеются все необходимые для этого статусы.</li>
                            <li>Убран промежуточный этап просмотра информации об устройстве. Теперь редактирование доступно сразу.</li>
                            <li>В описании устройства убрано поле "Ответственный" просто за ненадобностью.</li>
                        </ol>
                        <li>Работа с адресами:</li>
                        <ol>
                            <li>Переработана логика адресов (зарегистрированных зданий). Все адреса теперь имеют район, населенный пункт, улицу и дом. Без всяких сокращенных названий</li>
                        </ol>
                        <li>Работа с пользователями:</li>
                        <ol>
                            <li>Добавлена возможность редактирования пользователей (как администраторам, так и самим пользователям(с ограничениями))</li>
                            <li>Добавлена возможность удаления пользователей (только администраторам)</li>
                            <li>Все пользователи могут просматривать кто зарегистрирован в программе, но изменять могут только администраторы</li>
                            <li>Администратор более не может подсказать вам ваш пароль, но может сбросить его.</li>
                        </ol>
                        <li>Другое:</li>
                        <ol>
                            <li>У программы появилась версионность. Версия указанна на странице авторизации и на вкладке "Информация".</li>
                            <li>Добавлена страница "Информация". На ней можно будет узнать о текущей версии программы и о списках изменений.</li>
                        </ol>
                    </ol>
                </ol>
            </div>
        </div>
    </div>
    </div>
</main>
<script type="text/javascript" th:src="@{/plugins/bootstrap-5.3.0/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/select2/js/select2.min.js}"></script>
<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
</script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>