<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учет ВТ</title>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-5.3.0/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-icons-1.10.5/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav th:replace="~{/fragments/sidebar-fragment.html::sidebar('/info')}" ></nav>
<main id="content-main">
    <div class="container-fluid">
        <div th:replace="~{/fragments/header-title-fragment.html::header-title('Информация')}"></div>
    <div class="card default-shadow mt-4">
        <div class="card-header">
            Обновления
        </div>
        <div class="card-body">
            <div class="alert alert-info">
                <h5>v.2.0.0</h5>
                <ol>
                    <li>Обновленно:</li>
                    <ol>
                        <li>Полностью переработан внешний вид</li>
                        <li>Улучшено взаимодействие с программой с учетом рекомендаций пользователей</li>
                        <li>Авторизация:</li>
                        <ol>
                            <li>Логины при входе в программу теперь можно не запоминать, а искать и выбирать их.</li>
                            <li>Логином будет являться имя доменной учетной записи</li>
                            <li>Cессия в программе будет длиннее. (Реже теперь будет необходимо вводить логин и пароль)</li>
                        </ol>
                        <li>Главная страница:</li>
                        <ol>
                            <li>Cтраница более не является функциональной, теперь она информационная.</li>
                            <li>Теперь на главной странице указана небольшая информация о сотруднике</li>
                        </ol>
                        <li>Взаимодействие с устройствами:</li>
                        <ol>
                            <li>Добавленна сортировка для каждого столбца таблиц</li>
                            <li>Поиск теперь работает по всем параметрам таблиц (с помощью него можно теперь сортировать данные и выгружать их в Excel)</li>
                            <li>Теперь производители устройств будут едины. Их придется выбирать, а не писать самостоятельно (Не будет того, что кто-то написал Aquarius, а кто-то AQUARIUS ну и самое забавное Aguarius)</li>
                            <li>Cтатусы перерабоаны. Теперь в программе имеются все необходимые для этого статусы.</li>
                            <li>Убран промежуточный этап просмотра информации об устройстве. Теперь редактирование доступно сразу.</li>
                            <li>В описании устройства убрано поле "Ответсвенный" просто за ненадобностью.</li>
                        </ol>
                        <li>Работа с адресами:</li>
                        <ol>
                            <li>Переработана логика адресов (зарегистрированных зданий). Все адреса теперь имеют район, населенный пункт, улицу и дом. Без всяких сокращенных названий</li>
                        </ol>
                        <li>Работа с пользователями:</li>
                        <ol>
                            <li>Добавлена возможность редактирования пользователей (как для администраторам, так и самим пользователям(с ограничениями))</li>
                            <li>Добавлена возможность удаления пользователей (только администраторам)</li>
                            <li>Все пользователи могут просматривать кто зарегистрированн в программе, но изменять могут только администраторы</li>
                            <li>Cессия в программе будет длиннее. (Реже теперь будет необходимо вводить логин и пароль)</li>
                        </ol>
                        <li>Другое:</li>
                        <ol>
                            <li>У программы появилась версионность. Версия указанна на страница авторизации и на вкладке "Информация".</li>
                            <li>Добавлена страница "Информация". На ней можно будет узнать о текущей версии программы и о списках изменений.</li>
                        </ol>
                    </ol>
                </ol>
            </div>
        </div>
    </div>
    </div>
</main>
<script type="text/javascript" th:src="@{/plugins/bootstrap-5.3.0/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/select2/js/select2.min.js}"></script>
<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
</script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>