<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учет ВТ</title>
    <link rel="shortcut icon" th:href="@{/image/logo.png}" />
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-5.3.0/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-icons-1.10.5/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav th:replace="~{fragments/sidebar-fragment.html::sidebar('/info')}" ></nav>
<main id="content-main">
    <div class="container-fluid">
        <div th:replace="~{fragments/header-title-fragment.html::header-title('Информация')}">
        </div>
    <div class="card default-shadow mt-4">
        <div class="card-header">
            Обновления
        </div>
        <div class="card-body">
            <div class="alert alert-info">
                <h5>v.2.3.0</h5>
                <ol>
                    <li>Страница устройств</li>
                    <ol>
                        <li>Добавлена кнопка для того что бы скопировать ссылку на устройство</li>
                        <li>На странице устройств добавлена возможность указания технических характеристик устройства (ЦП, ОЗУ ...)</li>
                    </ol>
                    <li>На странице всех устройств кол-во выводимых устройств изменено с 30 до 15. Сделано это для удобства просмотра под экран FullHD</li>
                    <li>На странице истории предупреждения и ошибки теперь будут подсвечиваться разными цветами</li>
                    <li>На странице настроек администраторы могут добавлять и удалять технические характеристики у разных типов устройств</li>
                    <li>Добавлена новая страница: "Документы".</li>
                    <li>
                        На странице "Документы" появилась возможность сделать полную выгрузку из программы.
                        (Со всеми устройствами, пользователями, отделами, характеристиками и т.д.)
                    </li>
                    <li>На странице информации появилась ссылка на получение инструкции</li>
                    <li>На странице авторизации исправлена ошибка с элементом ввода, когда тот отображался не на всю ширину окна</li>
                    <li>Во вкладке браузера теперь отображается логотип программы</li>
                    <li>Мелкие визуальные изменения</li>
                </ol>
            </div>
            <div class="alert alert-secondary">
                <h5>v.2.2.2</h5>
                <ol>
                    <li>Страница устройств</li>
                    <ol>
                        <li>Добавлена история каждого устройства в отдельности</li>
                    </ol>
                    <li>Мелкие визуальные изменения</li>
                </ol>
            </div>
            <div class="alert alert-secondary">
                <h5>v.2.1.2</h5>
                <ol>
                    <li>Срочное исправление критической ошибки. При сохранении вы получали ошибку сервера 500,
                        если устройство уже находилось в базе данных.</li>
                </ol>
            </div>
            <div class="alert alert-secondary">
                <h5>v.2.1.1</h5>
                <ol>
                    <li>Теперь при раскрытии выпадающих списков с поиском, на страницах
                        устройства и добавление нового устройства, курсор в поле поиска ставится автоматически.</li>
                    <li>Производители отсортированы по алфавиту</li>
                    <li>Исправлена ошибка. У пользователей отображались пустая вкладка "Устройства"
                        и заблокированная вкладка "Расходники" на странице "Настройки". Функционал вкладок только для администраторов.</li>
                </ol>
            </div>
            <div class="alert alert-secondary">
                <h5>v.2.1.0</h5>
                <ol>
                    <li>Теперь администраторы могут просмотреть историю пользователей прямо в программе (пока без поиска)</li>
                    <li>На странице всех устройств теперь в таблице можно посмотреть кто эксплуатирует устройство</li>
                    <li>Страница устройства</li>
                    <ol>
                        <li>
                            Добавлено новое поле "Дата списания". Данное поле будет доступно при выборе статус
                            "Утилизировано" при добавлении\изменении устройства.
                        </li>
<!--                        <li>Появилась история каждого устройства</li>-->
<!--                        <li>Вернулась улучшенная версия технических характеристик устройств</li>-->
                        <li>
                            Исправлена ошибка, когда пользователя удаляли из телефонного
                            справочника. Вы могли не попасть на страницу устройства,
                            которую данный пользователь эксплуатировал и получить ошибку 500.
                            Теперь вы будете получать информацию о том кто его эксплуатировал ранее, а поля будут отчищены
                        </li>
                        <li>
                            Исправлена ошибка. Программа не проверяла устройство на существование при изменении устройства.
                        </li>
                    </ol>
                    <li>Страница настроек</li>
                    <ol>
                        <li>Разблокирована вкладка "Устройства"</li>
                        <li>Теперь администраторы могу добавлять новые типы устройства прямо в программе (Принтеры, МФУ...)</li>
                        <li>Теперь администраторы могу добавлять новых производителей прямо в программе (Canon, LG...)</li>
                    </ol>
                    <li>Другое</li>
                    <ol>
                        <li>Переход к Spring AOP (для знающих)</li>
                        <li>Исправлены текстовые ошибки</li>
                        <li>Мелкие визуальные исправления</li>
                    </ol>
                </ol>
            </div>
        </div>
    </div>
    </div>
</main>
<script type="text/javascript" th:src="@{/plugins/bootstrap-5.3.0/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/select2/js/select2.min.js}"></script>
<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
</script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>