/* import fonts ***************************************************************************************************** */
@font-face {
    font-family: "Roboto-Light";
    src: url("./../fonts/roboto/Roboto-Light.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("./../fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("./../fonts/roboto/Roboto-Bold.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}
/* import fonts end ************************************************************************************************* */

/* default style **************************************************************************************************** */
html, body {
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: Roboto-Regular, serif;
    font-size: 14px;
}

.list-default {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.default-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.bg-color-light-blue {
    background-color: #8E91AB;
    color: white;
}

.bg-color-dark-blue {
    background-color: #141839;
    color: white;
}

input, textarea {
    color: #555555 !important;
}

input, select, textarea {
    font-family: Roboto-Light, serif !important;
    font-size: 14px !important;
}
/* default style end ************************************************************************************************ */

/* navigation panel style ******************************************************************************************* */
nav {
    position: fixed;
    top: 15px;
    left: 15px;
    bottom: 15px;
    /*height: 97vh;*/
    min-height: 500px;
    width: 250px;
    /*bottom: 10px;*/
    border-radius: 10px;
    background-color: #3C3F57;
    padding: 15px;
    color: white;
    z-index: 1000;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto-Bold, serif;

}

.logo h6 {
    padding: 0;
    margin: 0 0 0 10px;
    font-size: 14px !important;
    font-family: Roboto-Bold, serif;
}
/* navigation panel style end *************************************************************************************** */

/* content container style ****************************************************************************************** */
main {
    left: 265px;
    position: relative;
    width: calc(100vw - 282px);
    min-height: 100vh;
    padding: 15px;
}
/* content container style end ************************************************************************************** */

/* nav style ******************************************************************************************************** */
.menu { margin-top: 30px; }

.menu li {
    position: relative;
    border-radius: 5px;
    margin-top: 5px;
}

.menu > li > a {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.menu > li > a > p {
    margin: 0 0 0 10px;
    padding: 0;
    font-family: Roboto-Regular, serif;
    font-size: 14px;
}

.menu li:hover { background-color: white; }

.menu li:hover > a > * { color: black !important; }

.menu > .active { background-color: white !important; }

.menu > .active > a > * { color: black !important; }
/* nav style end **************************************************************************************************** */

/* nav open\close style ********************************************************************************************* */
.navbarMobile {
    width: 80px !important;
}

.navbarMobile .link-item > p {
    display: none;
}

.navbarMobile .logo > h6 {
    display: none;
}

.navbarMobile > .header-navbar {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.navbarMobile .logo {
    margin-top: 10px;
}

.navbarMobile .menu > li > a {
    justify-content: center;
}

.closeNavbar {
    left: 95px;
    width: calc(100vw - 112px);
}
/* nav open\close style end ***************************************************************************************** */

/* info card style */
.main-col {
    border-right: 1px solid white ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-info, .main-col {
    font-family: Roboto-Light, serif;
    font-size: 14px;
}

@media (max-width: 767px) {
    .main-col {
        border-right: none;
        border-bottom: 1px solid white;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .card-info {
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
}

.list-status-type-device li{
    display: flex;
    justify-content: space-between;
}

.card-body-custom {
    color: black !important;
}

.pagination {
    float: right !important;
}
/* scroll style ***************************************************************************************************** */
:root{
    scrollbar-color: #3C3F57 white !important;
    scrollbar-width: thin !important;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #3C3F57;
}
/* scroll style end ************************************************************************************************* */