<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Учет ВТ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/plugins/bootstrap-5.3.0/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/plugins/bootstrap-icons-1.10.5/font/bootstrap-icons.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav th:replace="~{fragments/sidebar-fragment.html::sidebar('/error')}" ></nav>
<main id="content-main">
  <div class="container-fluid">
    <div th:replace="~{fragments/header-title-fragment.html::header-title('Error (unknown ip address)')}"></div>
    <h6>Вы видете это сообщение по тому что программа не смогла определить ваш ip адресс. Обратитесь к разработчику.</h6>
  </div>
</main>
<script type="text/javascript" th:src="@{/plugins/bootstrap-5.3.0/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery/jquery-3.6.0.min.js}"></script>
<!--    <script>-->
<!--        $(document).ready(function() {-->
<!--            $('.js-example-basic-single').select2();-->
<!--        });-->
<!--    </script>-->
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>