<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Учет ВТ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-5.3.0/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-icons-1.10.5/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <nav th:replace="~{/fragments/sidebar-fragment.html::sidebar('/home')}" ></nav>
    <main id="content-main">
        <div class="container-fluid">
            <div th:replace="~{/fragments/header-title-fragment.html::header-title('Домашняя страница')}"></div>

            <div class="card default-shadow mt-4">
                <div class="row card-body d-flex align-items-center">
                    <div class="col-12 user-info d-flex align-items-center">
                        <i class="bi bi-person-circle" style="font-size: 70px; color: #8E91AB"></i>
                        <div class="d-flex flex-column w-100 m-3">
                            <h6 class="p-0 m-0">
                                <nobr
                                    th:text="${
                                        AuthUser.getSurname() + ' ' +
                                        AuthUser.getName() + ' ' +
                                        AuthUser.getMiddleName()
                                    }">
                                </nobr>
                            </h6>
                            <p class="text-muted p-0 m-0"
                               th:text="${
                                AuthUser.getAddress().getCity().getName() + ' ' +
                                AuthUser.getAddress().getStreet() + ' ' +
                                AuthUser.getAddress().getHouse() + ' ' +
                                AuthUser.getAddress().getSection() + ' (' +
                                AuthUser.getAddress().getRegion().getName() + ')'
                            }">
                            </p>
                            <p class="text-muted p-0 m-0" th:text="${AuthUserTelbook.getDepartment() + '/' + AuthUserTelbook.getPosition()}">отдел/должность</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-color-dark-blue default-shadow mt-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-2 main-col">
                            <p>Всего устройств</p>
                            <h4>20000</h4>
                        </div>
                        <div class="col-12 col-md-10">
                            <div class="row">
                                <div class="col-12 col-md-12 col-xxl-6">
                                    <div class="row">
                                        <div class="col-12 col-md-4 card-info"><p><nobr>Эксплуатируется</nobr></p><h4>20000</h4></div>
                                        <div class="col-12 col-md-4 card-info"><p><nobr>Настройка\Ремонт</nobr></p><h4>20000</h4></div>
                                        <div class="col-12 col-md-4 card-info"><p><nobr>На складе</nobr></p><h4>20000</h4></div>
                                    </div>

                                </div>
                                <div class="col-12 col-md-12 col-xxl-6">
                                    <div class="row">
                                        <div class="col-12 col-md-4 card-info"><p><nobr>В подразделении</nobr></p><h4>20000</h4></div>
                                        <div class="col-12 col-md-4 card-info"><p><nobr>Утилизация</nobr></p><h4>20000</h4></div>
                                        <div class="col-12 col-md-4 card-info"><p><nobr>Утилизировано</nobr></p><h4>20000</h4></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card bg-color-light-blue default-shadow mt-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-2 main-col">
                            <p>Расходные материалы</p>
                            <h4>200000</h4>
                        </div>
                        <div class="col-12 col-md-10">
                            <div class="row">
                                <div class="col-12 col-md-12 col-xxl-6">
                                    <div class="row">
                                        <div class="col-12 col-md-4 card-info"><p><nobr>Установленно <small style="font-size: 0.7em">(сегодня)</small></nobr></p><h4>20000</h4></div>
                                        <div class="col-12 col-md-4 card-info"><p><nobr>Настройка\Ремонт</nobr></p><h4>20000</h4></div>
                                        <div class="col-12 col-md-4 card-info"><p><nobr>На складе</nobr></p><h4>20000</h4></div>
                                    </div>

                                </div>
                                <div class="col-12 col-md-12 col-xxl-6">
                                    <div class="row">
                                        <div class="col-12 col-md-4 card-info"><p><nobr>В подразделении</nobr></p><h4>20000</h4></div>
                                        <div class="col-12 col-md-4 card-info"><p><nobr>Утилизация</nobr></p><h4>20000</h4></div>
                                        <div class="col-12 col-md-4 card-info"><p><nobr>Утилизировано</nobr></p><h4>20000</h4></div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="card bg-color-light-blue default-shadow mt-4">
                        <div class="card-header">
                            <h6 class="m-0">Заголовок</h6>
                        </div>
                        <div class="card-body">
                            <ul class="list-status-type-device list-default">
                                <li>
                                    <p>Эксплуатируется</p>
                                    <p>23423</p>
                                </li>
                                <li>
                                    <p>Настройка\Ремонт</p>
                                    <p>323</p>
                                </li>
                                <li>
                                    <p>На складе</p>
                                    <p>232</p>
                                </li>
                                <li>
                                    <p>В подразделении</p>
                                    <p>3233</p>
                                </li>
                                <li>
                                    <p>Утилизация</p>
                                    <p>23423</p>
                                </li>
                                <li>
                                    <p>Утилизировано</p>
                                    <p>2342</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="card bg-color-light-blue default-shadow mt-4">
                        <div class="card-header">
                            <h6 class="m-0">Заголовок</h6>
                        </div>
                        <div class="card-body">
                            <ul class="list-status-type-device list-default">
                                <li>
                                    <p>Эксплуатируется</p>
                                    <p>23423</p>
                                </li>
                                <li>
                                    <p>Настройка\Ремонт</p>
                                    <p>323</p>
                                </li>
                                <li>
                                    <p>На складе</p>
                                    <p>232</p>
                                </li>
                                <li>
                                    <p>В подразделении</p>
                                    <p>3233</p>
                                </li>
                                <li>
                                    <p>Утилизация</p>
                                    <p>23423</p>
                                </li>
                                <li>
                                    <p>Утилизировано</p>
                                    <p>2342</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        <i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>-->

<!--        <form method="get" action="/test">-->
<!--            <select class="js-example-basic-single" style="width: 250px" name="state">-->
<!--                <option value="AL">Alabama</option>-->
<!--                <option value="BL">Blabama</option>-->
<!--                <option value="CL">Clabama</option>-->
<!--                <option value="GL">Dlabama</option>-->
<!--            </select>-->
<!--            <button type="submit">ok</button>-->
<!--        </form>-->

    </main>
    <script type="text/javascript" th:src="@{/plugins/bootstrap-5.3.0/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/select2/js/select2.min.js}"></script>
<!--    <script>-->
<!--        $(document).ready(function() {-->
<!--            $('.js-example-basic-single').select2();-->
<!--        });-->
<!--    </script>-->
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>