<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Учет ВТ</title>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-5.3.0/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-icons-1.10.5/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <nav id="navbar-toggle">
        <div class="header-navbar d-flex justify-content-between">
            <div class="logo">
                <img th:src="@{/image/logo.png}" width="30px" height="30px" alt="logo">
                <h6>Учет технических<br>средств организации</h6>
            </div>
            <i class="bi bi-list" style="font-size: 1.5rem; color: white; cursor: pointer" onclick="toggleNavbarScript()"></i>
        </div>
        <ul class="menu list-default">
            <li class="active">
                <a class="link-item" href="#">
                    <i class="bi bi-columns-gap" style="font-size: 1.5rem; color: white;"></i>
                    <p>Домашняя страница</p>
                </a>
            </li>
            <li>
                <a class="link-item" href="#">
                    <i class="bi bi-motherboard" style="font-size: 1.5rem; color: white;"></i>
                    <p>Техника</p>
                </a>
            </li>
            <li>
                <a class="link-item" href="#">
                    <i class="bi bi-file-earmark-text" style="font-size: 1.5rem; color: white;"></i>
                    <p>Документы</p>
                </a>
            </li>
            <li>
                <a class="link-item" href="#">
                    <i class="bi bi-clock-history" style="font-size: 1.5rem; color: white;"></i>
                    <p>История</p>
                </a>
            </li>
            <li>
                <a class="link-item" href="#">
                    <i class="bi bi-gear" style="font-size: 1.5rem; color: white;"></i>
                    <p>Настройки</p>
                </a>
            </li>
        </ul>
    </nav>
    <main id="content-main">
        <div class="container-fluid">
            <div class="row w-100 ">
                <div class="d-flex align-items-center">

                    <h6 class="info-role">Вы вошли как: Администратор</h6>
                </div>

            </div>

        </div>

<!--        <i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>-->

<!--        <form method="get" action="/test">-->
<!--            <select class="js-example-basic-single" style="width: 250px" name="state">-->
<!--                <option value="AL">Alabama</option>-->
<!--                <option value="BL">Blabama</option>-->
<!--                <option value="CL">Clabama</option>-->
<!--                <option value="GL">Dlabama</option>-->
<!--            </select>-->
<!--            <button type="submit">ok</button>-->
<!--        </form>-->

    </main>
    <script type="text/javascript" th:src="@{/plugins/bootstrap-5.3.0/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/select2/js/select2.min.js}"></script>
    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
    </script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>