<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учет ВТ</title>
    <link rel="shortcut icon" th:href="@{/image/logo.png}" />
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-5.3.0/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-icons-1.10.5/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/select2/css/select2-bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav th:replace="~{fragments/sidebar-fragment.html::sidebar('/settings')}" ></nav>
<main id="content-main">
    <div class="container-fluid">
        <div th:replace="~{fragments/header-title-fragment.html::header-title('Настройки')}"></div>

        <div th:replace="~{fragments/settings-tabs.html::settings-tabs('/address')}"></div>
        <div class="card bg-color-light-blue default-shadow mt-4">
            <div class="card-header">Создание нового адреса (здания СФР)</div>
            <div class="card-body card-body-custom">
                <div class="alert alert-info mt-1" role="alert">
                    Для изменения нового адреса выберите населенный пункт из списка ниже,
                    введите улицу (в формате ул.Xхххххх, ул.Xxx-xxx, ул.Xxx xxx) и номер дома (например: 99) <br>
                    Если вашего населенного пункта нет в списке, обратитесь к разработчику.<br>
                    <small class="text-danger">Имейте в виду, что адрес поменяется у всего (Устройств, расходников и пользователей зарегистрированных по нему)</small>
                </div>
<!--                th:object="${}"-->
                <form th:method="post" action="/settings/address/change" th:object="${Address}">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="input-form-group d-flex justify-content-between flex-column mb-4">
                                <input type="hidden" th:field="*{id}">
                                <label class="text-white" for="settlements">Населенный пункт</label>
                                <select id="settlements" class="js-example-basic-single form-control" style="width: 100% !important;" th:field="*{settlements}">
                                    <option th:value="${settlement.getId()}" th:each="settlement: ${AllSettlements}"
                                            th:text="${
                                            settlement.getType() + ' ' +
                                            settlement.getName() + ' (' +
                                            settlement.getRegion().getName() + ' район)'}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="input-form-group d-flex justify-content-between flex-column mb-4">
                                <label class="text-white" for="street">Улица</label>
                                <input id="street" class="form-control" type="text" th:field="*{street}">
                            </div>
                            <div class="input-form-group d-flex justify-content-between flex-column mb-4">
                                <label class="text-white" for="house">Дом</label>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('house')}" th:errors="*{house}">Ошибка</small>
                                <input id="house" class="form-control" type="text" th:field="*{house}">
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-outline-light mx-2" href="/settings/address">Назад</a>
                            <button class="btn btn-primary" type="submit">Изменить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" th:src="@{/plugins/bootstrap-5.3.0/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/select2/js/select2.min.js}"></script>
<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2({
            theme: "bootstrap"
        });
    });
</script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>