<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учет ВТ</title>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-5.3.0/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-icons-1.10.5/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav th:replace="~{fragments/sidebar-fragment.html::sidebar('/history')}" ></nav>
<main id="content-main">
    <div class="container-fluid">
        <div th:replace="~{fragments/header-title-fragment.html::header-title('История')}"></div>
    </div>
</main>
<script type="text/javascript" th:src="@{/plugins/bootstrap-5.3.0/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/select2/js/select2.min.js}"></script>
<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
</script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>